.lobby {
    position: fixed;
    background: #c2d3e3;
    padding-top: 100px;
    left: 0; right: 0; top: 0; bottom: 0;;
}

.lobby h1 {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
}