.screen {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/resources/images/screen.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.screen section {
    flex: 1;
    padding: 10px 20px
}

.screen aside {
    background: rgba(0,0,0,0.3);
    min-width: 250px;
    position: relative;
}

.screen .missions {
    display: inline-block;
    margin: 0 40px;
}

.screen .vote-track {
    position: absolute;
    bottom: 20px;
    left: 0;
}

.screen .vote-track>div {
    margin: 40px;
}

.screen .vote {
    position: relative;
    text-align: center;
    border: 3px solid white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: inline-block;
    margin: 0 10px;
}

.screen .vote>div {
    font-size: 1.5em;
    margin: auto;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    line-height: 1em;
    height: 1em;
}

.screen .vote:last-child {
    border-color: hsl(350, 100%, 50%);
    background: hsla(350, 100%, 50%, 0.5);
}

@keyframes border-pulsate-red {
    0%   { 
        border-color: hsl(350, 100%, 50%); 
        box-shadow: 0px 0px 100px hsl(350, 100%, 50%);
    }
    50%  { 
        border-color: hsl(350, 100%, 65%); 
        box-shadow: 0px 0px 10px hsl(350, 100%, 50%);
    }
    100% { 
        border-color: hsl(350, 100%, 50%); 
        box-shadow: 0px 0px 100px hsl(350, 100%, 50%);
    }
}

.screen .vote.current-vote:last-child {
    animation: border-pulsate-red 2s infinite;
}

.screen .current-vote {
    border-color: hsl(70, 100%, 75%); 
}

.screen .players {
    font-size: 1.5em;
    margin: 10px;
}

.screen .players tbody th.on-team:after {
    content: '';
    background: url('/resources/icons/gun.svg');
    width: 2em;
    height: 1em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: hsl(190, 100%, 10%);
    border-radius: 5px;
    margin: 0 10px;
}

.screen .room-code {
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px 50px;
    background: rgba(0,0,0,0.8);
    font-size: 2em;
    border-bottom-right-radius: 50px;
    text-transform: uppercase;
}
.screen .room-code:before {
    display: block;
    content: 'Room Code';
    font-size: 0.4em;
    opacity: 0.5;
    text-transform: none;
}

.screen .mission-report {
    position: fixed;
    top: 0%; left: 0; right: 0; bottom: 0;
    padding: 5%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.screen .mission-effort {
    display: inline-block;
    height: 180px;
    width: 360px;
    margin: auto;
    background-color:  hsl(190, 100%, 10%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    margin: 20px;
}

.screen .winner {
    position: absolute;
    display: table;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    background: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    height: 100%;    
}

.screen .winner h1 {
    display: table-cell;
    font-size: 4em;
    vertical-align: middle;
    transform: rotateZ(-15deg)
}

.screen aside h2 {
    text-align: center
}