.screen {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/resources/images/screen.jpg');
  background-size: cover;
  background-position: center;
}

.screen h1 {
    font-size: 4em;
    font-weight: bolder;
    text-shadow: 0 0 15px rgba(0,0,0,0.7);
}

.screen section {
    flex: 1;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
}

.screen section:first-child {
    padding-left: 5vw;
}

.screen section:last-child {
    padding-right: 5vw;
}

.screen aside {
    background: rgba(0,0,0,0.3);
    color: white;
    min-width: 250px;
    position: relative;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.screen .missions {
    margin: 0 40px;
    text-align: center;
}

.screen .players {
    font-size: 1.5em;
    margin: 10px;
}

.screen .players tbody th.on-team:after {
    content: '';
    background: url('/resources/icons/gun.svg');
    width: 2em;
    height: 1em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: hsl(190, 100%, 10%);
    border-radius: 5px;
    margin: 0 10px;
}

.screen .room-code {
    position: fixed;
    left: 0;
    top: 0;
    padding: 5vh 30px 10px 5vw;
    background: rgba(0,0,0,0.8);
    color: white;
    font-size: 2em;
    border-bottom-right-radius: 50px;
    text-transform: uppercase;
}
.screen .room-code:before {
    display: block;
    content: 'Room Code';
    font-size: 0.4em;
    opacity: 0.5;
    text-transform: none;
}

.screen .mission-report {
    position: fixed;
    top: 0%; left: 0; right: 0; bottom: 0;
    padding: 5%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.screen .mission-effort {
    display: inline-block;
    height: 180px;
    width: 360px;
    margin: auto;
    background-color:  hsl(190, 100%, 10%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    margin: 20px;
}

.screen .winner {
    position: absolute;
    display: table;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    background: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    height: 100%;    
}

.screen .winner h1 {
    display: table-cell;
    font-size: 4em;
    vertical-align: middle;
    transform: rotateZ(-15deg)
}

.screen aside h2 {
    text-align: center
}