.screen-player>td {
    height: 1.5em;
    width: 1em;
    box-sizing: border-box;
    vertical-align: middle;
}

.screen .players tbody th {
    text-align: left;
    padding: 0 10px;
}

.screen-player svg {
    fill: white;
}

.screen-player .player-vote {
    background-color: hsl(190, 100%, 10%);
    width: 2em;
    border-radius: 0.2em;
}

table.players {
    border-collapse:separate; 
}