.team-setup {
    position: absolute;
    right: 5vw;
    bottom: 5vh;
    font-size: 1.4em;
    font-weight: bold;
}

.team-setup .number-of-players:after {
    content: " players / "
}

.team-setup .number-of-spies:after {
    content: " spies"
}