.card {
    display: inline-block;
    position: relative;
    margin: 2vh;
    transition: 0.5s ease transform;
    transform: perspective(100px);
    text-align: center;
    box-shadow: 0 4vh 4vh rgba(0,0,0,0.5);
}

.card.mini {
    margin: 0;
    box-shadow: none;
}

.card > .inner-card {
    display: block;
    line-height: 0;
}

/* card effects */
.card.clickable {
    cursor: pointer;
}
.card.clickable.disabled {
    cursor: not-allowed;
}

.card.disabled {
    opacity: 0.7;
}

.card.hidden {
    transform: perspective(100px) translate3d(0, 100vh, 90px);    
}

.card.flipped svg{
    visibility: hidden;
}

/* sizes */
.card.mini {
    border: 0.125vh solid;
}
.card.mini > .inner-card > svg {
    width: 3vh; height: 3vh;
}

.card.s {
    border: 0.5vh solid;    
}
.card.s > .inner-card > svg {
    width: 12vh; height: 12vh;
}

.card {
    border: 0.75vh solid;    
}
.card > .inner-card > svg {
    width: 18vh; height: 18vh;
}

.card.l {
    border: 1vh solid;    
}
.card.l > .inner-card > svg {
    width: 24vh; height: 24vh;
}

/* orientation */
.card.mini > .inner-card > svg {
    padding: 0.5vh;
}
.card.mini.vertical > .inner-card > svg {
    padding: 1.25vh 0.5vh;
}
.card.mini.horizontal > .inner-card > svg {
    padding: 0.5vh 1.25vh;
}

.card.s > .inner-card > svg {
    padding: 2vh;
}
.card.s.vertical > .inner-card > svg {
    padding: 5vh 2vh;
}
.card.s.horizontal > .inner-card > svg {
    padding: 2vh 5vh;
}

.card > .inner-card > svg {
    padding: 3vh;
}
.card.vertical > .inner-card > svg {
    padding: 7.5vh 3vh;
}
.card.horizontal > .inner-card > svg {
    padding: 3vh 7.5vh;
}

.card.l > .inner-card > svg {
    padding: 4vh;
}
.card.l.vertical > .inner-card > svg {
    padding: 10vh 4vh;
}
.card..lhorizontal > .inner-card > svg {
    padding: 4vh 10vh;
}

/* colors */
.card.light {
    background-color:  hsla(190, 10%, 70%, 0.9);
    border-color: hsl(190, 100%, 10%)
}

.card.light svg {
    fill: hsl(190, 10%, 40%);
}

.card.dark {
    background-color: hsla(190, 100%, 10%, 0.9);
    border-color:  hsl(190, 10%, 70%);
}

.card.dark svg {
    fill: hsl(190, 20%, 90%);
}