@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.flex {
  flex: 1;
}

.mark {
  background: rgba(0,255,255,0.5)
}

button, a {
  display: block;
  border: 1px solid hsl(300, 50%, 50%);
  color: hsl(300, 50%, 50%);
  width: 200px;
  background: transparent;
  padding: 10px 20px;
  text-decoration: none;
  font: inherit;
  margin: 10px auto;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

button:hover, a:hover {
  border-color: hsl(300, 90%, 50%);
  color: hsl(300, 90%, 50%);
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

input {
  display: block;
  border: 1px solid hsl(70, 100%, 75%); 
  padding: 10px 20px;
  margin: 10px auto;
  box-sizing: border-box;
  width: 200px;
  background: rgba(255,255,255, 0.8);  
  font: inherit;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
}

h2 {
  font-size: 2em;
}